@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?lmyeje');
    src:  url('../fonts/icomoon.eot?lmyeje#iefix') format('embedded-opentype'),
      url('f../onts/icomoon.ttf?lmyeje') format('truetype'),
      url('../fonts/icomoon.woff?lmyeje') format('woff'),
      url('../fonts/icomoon.svg?lmyeje#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-corporate-blanc:before {
    content: "\eb2a";
    color: #fcfcfc;
  }
  .icon-corporate-bleu .path1:before {
    content: "\eb2b";
    color: rgb(4, 76, 140);
  }
  .icon-corporate-bleu .path2:before {
    content: "\eb2c";
    margin-left: -1em;
    color: rgb(4, 68, 139);
  }
  .icon-corporate-bleu .path3:before {
    content: "\eb2d";
    margin-left: -1em;
    color: rgb(4, 76, 132);
  }
  .icon-corporate-bleu .path4:before {
    content: "\eb2e";
    margin-left: -1em;
    color: rgb(12, 72, 137);
  }
  .icon-corporate-bleu .path5:before {
    content: "\eb2f";
    margin-left: -1em;
    color: rgb(8, 76, 140);
  }
  .icon-eci-blanc:before {
    content: "\eb30";
    color: #fcfcfc;
  }
  .icon-image2vector-1:before {
    content: "\eb36";
    color: #fcfcfc;
  }
  .icon-image2vector .path1:before {
    content: "\eb37";
    color: rgb(20, 108, 172);
  }
  .icon-image2vector .path2:before {
    content: "\eb38";
    margin-left: -1em;
    color: rgb(52, 148, 204);
  }
  .icon-image2vector .path3:before {
    content: "\eb39";
    margin-left: -1em;
    color: rgb(4, 68, 140);
  }
  .icon-image2vector .path4:before {
    content: "\eb3a";
    margin-left: -1em;
    color: rgb(20, 108, 180);
  }
  .icon-image2vector .path5:before {
    content: "\eb3b";
    margin-left: -1em;
    color: rgb(52, 148, 196);
  }
  .icon-ressylians-rouge .path1:before {
    content: "\eb3d";
    color: rgb(188, 28, 36);
  }
  .icon-ressylians-rouge .path2:before {
    content: "\eb3e";
    margin-left: -1em;
    color: rgb(188, 28, 28);
  }
  .icon-ressylians-rouge .path3:before {
    content: "\eb3f";
    margin-left: -1em;
    color: rgb(196, 28, 36);
  }
  .icon-ressylians-rouge .path4:before {
    content: "\eb40";
    margin-left: -1em;
    color: rgb(192, 28, 36);
  }
  .icon-representer-bleu:before {
    content: "\e917";
    color: #141c6c;
    font-size: 6.3rem;
  }
  .icon-picto-accompagner-bleu-svg .path1:before {
    content: "\e9b4";
    color: rgb(163, 227, 243);
  }
  .icon-picto-accompagner-bleu-svg .path2:before {
    content: "\e9d0";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-accompagner-bleu-svg .path3:before {
    content: "\e9d3";
    margin-left: -1em;
    color: rgb(92, 124, 180);
  }
  .icon-picto-accompagner-bleu-svg .path4:before {
    content: "\e9d4";
    margin-left: -1em;
    color: rgb(100, 140, 188);
  }
  .icon-picto-accompagner-bleu-svg .path5:before {
    content: "\e9d5";
    margin-left: -1em;
    color: rgb(84, 116, 164);
  }
  .icon-picto-accompagner-corporate-svg .path1:before {
    content: "\e9d6";
    color: rgb(159, 222, 240);
  }
  .icon-picto-accompagner-corporate-svg .path2:before {
    content: "\e9d7";
    margin-left: -1em;
    color: rgb(92, 124, 172);
  }
  .icon-picto-accompagner-corporate-svg .path3:before {
    content: "\e9d8";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-accompagner-corporate-svg .path4:before {
    content: "\e9d9";
    margin-left: -1em;
    color: rgb(92, 132, 172);
  }
  .icon-picto-accompagner-corporate-svg .path5:before {
    content: "\e9da";
    margin-left: -1em;
    color: rgb(83, 118, 164);
  }
  .icon-picto-accompagner-deveco-svg .path1:before {
    content: "\e9db";
    color: rgb(199, 224, 185);
  }
  .icon-picto-accompagner-deveco-svg .path2:before {
    content: "\e9dc";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-accompagner-deveco-svg .path3:before {
    content: "\e9dd";
    margin-left: -1em;
    color: rgb(124, 132, 156);
  }
  .icon-picto-accompagner-deveco-svg .path4:before {
    content: "\e9de";
    margin-left: -1em;
    color: rgb(74, 91, 119);
  }
  .icon-picto-accompagner-resilience-svg .path1:before {
    content: "\e9df";
    color: rgb(240, 197, 185);
  }
  .icon-picto-accompagner-resilience-svg .path2:before {
    content: "\e9e0";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-accompagner-resilience-svg .path3:before {
    content: "\e9e1";
    margin-left: -1em;
    color: rgb(113, 87, 127);
  }
  .icon-picto-accompagner-resilience-svg .path4:before {
    content: "\e9e2";
    margin-left: -1em;
    color: rgb(76, 76, 132);
  }
  .icon-picto-accompagner-resilience-svg .path5:before {
    content: "\e9e3";
    margin-left: -1em;
    color: rgb(155, 101, 125);
  }
  .icon-picto-accompagner-rouge-svg .path1:before {
    content: "\e9e4";
    color: rgb(251, 219, 203);
  }
  .icon-picto-accompagner-rouge-svg .path2:before {
    content: "\e9e5";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-accompagner-rouge-svg .path3:before {
    content: "\e9e6";
    margin-left: -1em;
    color: rgb(140, 124, 156);
  }
  .icon-picto-accompagner-rouge-svg .path4:before {
    content: "\e9e7";
    margin-left: -1em;
    color: rgb(76, 76, 132);
  }
  .icon-picto-accompagner-rouge-svg .path5:before {
    content: "\e9e8";
    margin-left: -1em;
    color: rgb(124, 108, 148);
  }
  .icon-picto-accompagner-svg:before {
    content: "\e9e9";
    color: #141c6c;
    font-size: 6.3rem;
  }
  .icon-picto-accompagner-vert-svg .path1:before {
    content: "\e9ea";
    color: rgb(219, 243, 211);
  }
  .icon-picto-accompagner-vert-svg .path2:before {
    content: "\e9eb";
    margin-left: -1em;
    color: rgb(124, 132, 156);
  }
  .icon-picto-accompagner-vert-svg .path3:before {
    content: "\e9ec";
    margin-left: -1em;
    color: rgb(76, 91, 135);
  }
  .icon-picto-accompagner-vert-svg .path4:before {
    content: "\e9ed";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-accompagner-vert-svg .path5:before {
    content: "\e9ef";
    margin-left: -1em;
    color: rgb(132, 148, 164);
  }
  .icon-picto-cress-promouvoir-resilience .path1:before {
    content: "\e9f0";
    color: rgb(239, 196, 185);
  }
  .icon-picto-cress-promouvoir-resilience .path2:before {
    content: "\e9f1";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-cress-promouvoir-resilience .path3:before {
    content: "\e9f2";
    margin-left: -1em;
    color: rgb(158, 102, 124);
  }
  .icon-picto-cress-promouvoir-resilience .path4:before {
    content: "\e9f3";
    margin-left: -1em;
    color: rgb(106, 85, 127);
  }
  .icon-picto-cress-promouvoir-resilience .path5:before {
    content: "\e9f4";
    margin-left: -1em;
    color: rgb(76, 76, 132);
  }
  .icon-picto-observer-bleu-svg .path1:before {
    content: "\e9f5";
    color: rgb(20, 28, 108);
  }
  .icon-picto-observer-bleu-svg .path2:before {
    content: "\e9f6";
    margin-left: -1em;
    color: rgb(163, 227, 243);
  }
  .icon-picto-observer-bleu-svg .path3:before {
    content: "\e9f7";
    margin-left: -1em;
    color: rgb(92, 124, 179);
  }
  .icon-picto-observer-bleu-svg .path4:before {
    content: "\e9f9";
    margin-left: -1em;
    color: rgb(84, 116, 164);
  }
  .icon-picto-observer-bleu-svg .path5:before {
    content: "\e9fa";
    margin-left: -1em;
    color: rgb(100, 140, 188);
  }
  .icon-picto-observer-corporate-svg .path1:before {
    content: "\e9fb";
    color: rgb(20, 28, 108);
  }
  .icon-picto-observer-corporate-svg .path2:before {
    content: "\e9fc";
    margin-left: -1em;
    color: rgb(91, 124, 171);
  }
  .icon-picto-observer-corporate-svg .path3:before {
    content: "\e9fd";
    margin-left: -1em;
    color: rgb(108, 155, 189);
  }
  .icon-picto-observer-corporate-svg .path4:before {
    content: "\e9fe";
    margin-left: -1em;
    color: rgb(163, 227, 243);
  }
  .icon-picto-observer-corporate-svg .path5:before {
    content: "\e9ff";
    margin-left: -1em;
    color: rgb(71, 99, 156);
  }
  .icon-picto-observer-deveco-svg .path1:before {
    content: "\ea00";
    color: rgb(20, 28, 108);
  }
  .icon-picto-observer-deveco-svg .path2:before {
    content: "\ea02";
    margin-left: -1em;
    color: rgb(133, 165, 102);
  }
  .icon-picto-observer-deveco-svg .path3:before {
    content: "\ea03";
    margin-left: -1em;
    color: rgb(219, 243, 211);
  }
  .icon-picto-observer-deveco-svg .path4:before {
    content: "\ea04";
    margin-left: -1em;
    color: rgb(94, 111, 125);
  }
  .icon-picto-observer-deveco-svg .path5:before {
    content: "\ea05";
    margin-left: -1em;
    color: rgb(125, 140, 147);
  }
  .icon-picto-observer-resilience-svg .path1:before {
    content: "\ea06";
    color: rgb(20, 28, 108);
  }
  .icon-picto-observer-resilience-svg .path2:before {
    content: "\ea07";
    margin-left: -1em;
    color: rgb(205, 127, 126);
  }
  .icon-picto-observer-resilience-svg .path3:before {
    content: "\ea08";
    margin-left: -1em;
    color: rgb(251, 219, 203);
  }
  .icon-picto-observer-resilience-svg .path4:before {
    content: "\ea09";
    margin-left: -1em;
    color: rgb(132, 98, 131);
  }
  .icon-picto-observer-resilience-svg .path5:before {
    content: "\ea0a";
    margin-left: -1em;
    color: rgb(149, 132, 157);
  }
  .icon-picto-observer-rouge-svg .path1:before {
    content: "\ea0b";
    color: rgb(20, 28, 108);
  }
  .icon-picto-observer-rouge-svg .path2:before {
    content: "\ea0c";
    margin-left: -1em;
    color: rgb(252, 220, 203);
  }
  .icon-picto-observer-rouge-svg .path3:before {
    content: "\ea0d";
    margin-left: -1em;
    color: rgb(139, 124, 155);
  }
  .icon-picto-observer-rouge-svg .path4:before {
    content: "\ea0e";
    margin-left: -1em;
    color: rgb(202, 175, 180);
  }
  .icon-picto-observer-rouge-svg .path5:before {
    content: "\ea0f";
    margin-left: -1em;
    color: rgb(163, 142, 162);
  }
  .icon-picto-observer-svg:before {
    content: "\ea10";
    color: #141c6c;
    font-size : 6.3rem;
  }
  .icon-picto-observer-vert-svg .path1:before {
    content: "\ea11";
    color: rgb(20, 28, 108);
  }
  .icon-picto-observer-vert-svg .path2:before {
    content: "\ea12";
    margin-left: -1em;
    color: rgb(219, 243, 211);
  }
  .icon-picto-observer-vert-svg .path3:before {
    content: "\ea13";
    margin-left: -1em;
    color: rgb(134, 147, 163);
  }
  .icon-picto-observer-vert-svg .path4:before {
    content: "\ea14";
    margin-left: -1em;
    color: rgb(108, 124, 148);
  }
  .icon-picto-observer-vert-svg .path5:before {
    content: "\ea15";
    margin-left: -1em;
    color: rgb(172, 188, 180);
  }
  .icon-picto-promouvoir-bleu-svg .path1:before {
    content: "\ea16";
    color: rgb(162, 226, 242);
  }
  .icon-picto-promouvoir-bleu-svg .path2:before {
    content: "\ea17";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-promouvoir-bleu-svg .path3:before {
    content: "\ea18";
    margin-left: -1em;
    color: rgb(92, 124, 180);
  }
  .icon-picto-promouvoir-bleu-svg .path4:before {
    content: "\ea19";
    margin-left: -1em;
    color: rgb(100, 140, 188);
  }
  .icon-picto-promouvoir-bleu-svg .path5:before {
    content: "\ea1a";
    margin-left: -1em;
    color: rgb(84, 116, 164);
  }
  .icon-picto-promouvoir-corporate-svg .path1:before {
    content: "\ea1b";
    color: rgb(158, 221, 239);
  }
  .icon-picto-promouvoir-corporate-svg .path2:before {
    content: "\ea1c";
    margin-left: -1em;
    color: rgb(92, 124, 172);
  }
  .icon-picto-promouvoir-corporate-svg .path3:before {
    content: "\ea1d";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-promouvoir-corporate-svg .path4:before {
    content: "\ea1e";
    margin-left: -1em;
    color: rgb(92, 132, 172);
  }
  .icon-picto-promouvoir-corporate-svg .path5:before {
    content: "\ea1f";
    margin-left: -1em;
    color: rgb(68, 99, 155);
  }
  .icon-picto-promouvoir-deveco-svg .path1:before {
    content: "\ea20";
    color: rgb(196, 222, 183);
  }
  .icon-picto-promouvoir-deveco-svg .path2:before {
    content: "\ea21";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-promouvoir-deveco-svg .path3:before {
    content: "\ea22";
    margin-left: -1em;
    color: rgb(90, 114, 112);
  }
  .icon-picto-promouvoir-deveco-svg .path4:before {
    content: "\ea23";
    margin-left: -1em;
    color: rgb(124, 132, 156);
  }
  .icon-picto-promouvoir-deveco-svg .path5:before {
    content: "\ea24";
    margin-left: -1em;
    color: rgb(108, 140, 100);
  }
  .icon-picto-promouvoir-resilience-svg .path1:before {
    content: "\ea25";
    color: rgb(239, 196, 185);
  }
  .icon-picto-promouvoir-resilience-svg .path2:before {
    content: "\ea26";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-promouvoir-resilience-svg .path3:before {
    content: "\ea27";
    margin-left: -1em;
    color: rgb(158, 102, 124);
  }
  .icon-picto-promouvoir-resilience-svg .path4:before {
    content: "\ea28";
    margin-left: -1em;
    color: rgb(106, 85, 127);
  }
  .icon-picto-promouvoir-resilience-svg .path5:before {
    content: "\ea29";
    margin-left: -1em;
    color: rgb(76, 76, 132);
  }
  .icon-picto-promouvoir-rouge-svg .path1:before {
    content: "\ea2a";
    color: rgb(250, 218, 203);
  }
  .icon-picto-promouvoir-rouge-svg .path2:before {
    content: "\ea2c";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-promouvoir-rouge-svg .path3:before {
    content: "\ea2d";
    margin-left: -1em;
    color: rgb(140, 124, 156);
  }
  .icon-picto-promouvoir-rouge-svg .path4:before {
    content: "\ea2e";
    margin-left: -1em;
    color: rgb(76, 76, 132);
  }
  .icon-picto-promouvoir-svg-2:before {
    content: "\ea2f";
    color: #141c6c;
    font-size: 6.3rem;
  }
  .icon-picto-promouvoir-vert-svg .path1:before {
    content: "\ea30";
    color: rgb(218, 242, 210);
  }
  .icon-picto-promouvoir-vert-svg .path2:before {
    content: "\ea32";
    margin-left: -1em;
    color: rgb(80, 93, 137);
  }
  .icon-picto-promouvoir-vert-svg .path3:before {
    content: "\ea33";
    margin-left: -1em;
    color: rgb(124, 132, 156);
  }
  .icon-picto-promouvoir-vert-svg .path4:before {
    content: "\ea34";
    margin-left: -1em;
    color: rgb(20, 28, 108);
  }
  .icon-picto-promouvoir-vert-svg .path5:before {
    content: "\ea35";
    margin-left: -1em;
    color: rgb(132, 148, 164);
  }
  .icon-picto-representer-svg:before {
    content: "\ea36";
    color: #141c6c;
  }
  .icon-magnifying-glass2:before {
    content: "\e9bb";
  }
  .icon-shopping-cart:before {
    content: "\e9bc";
  }
  .icon-right-arrow:before {
    content: "\e9bd";
  }
  .icon-heart2:before {
    content: "\e9be";
  }
  .icon-wallet-filled-money-tool:before {
    content: "\e9bf";
  }
  .icon-charity:before {
    content: "\e9c0";
  }
  .icon-confirmation:before {
    content: "\e9c1";
  }
  .icon-donation:before {
    content: "\e9c2";
  }
  .icon-salad:before {
    content: "\e9c3";
  }
  .icon-water:before {
    content: "\e9c4";
  }
  .icon-charity-1:before {
    content: "\e9c5";
  }
  .icon-helping-hand:before {
    content: "\e9c6";
  }
  .icon-news:before {
    content: "\e9c7";
  }
  .icon-graduated:before {
    content: "\e9c8";
  }
  .icon-vegetable:before {
    content: "\e9c9";
  }
  .icon-water-1:before {
    content: "\e9ca";
  }
  .icon-stethoscope:before {
    content: "\e9cb";
  }
  .icon-campaign:before {
    content: "\e9cc";
  }
  .icon-budget:before {
    content: "\e9cd";
  }
  .icon-social-campaign:before {
    content: "\e9ce";
  }
  .icon-help:before {
    content: "\e9cf";
  }
  .icon-Picto-CRESS_5-1_Promotion-corporate:before {
    content: "\e900";
  }
  .icon-Picto-CRESS_5-2_Accompagnement-corporate:before {
    content: "\e901";
  }
  .icon-Picto-CRESS_1-3_Observation-inline:before {
    content: "\e902";
  }
  .icon-Picto-CRESS_5-3_Observation-corporate:before {
    content: "\e903";
  }
  .icon-adobe:before {
    content: "\e90e";
    color: #f00;
  }
  .icon-adobeacrobatreader:before {
    content: "\e90f";
    color: #ee3f24;
  }
  .icon-adobeillustrator:before {
    content: "\e914";
    color: #ff7c00;
  }
  .icon-adobeindesign:before {
    content: "\e915";
    color: #fd3f93;
  }
  .icon-adobephotoshop:before {
    content: "\e91a";
    color: #00c8ff;
  }
  .icon-angellist:before {
    content: "\e92c";
  }
  .icon-apple:before {
    content: "\e939";
    color: #999;
  }
  .icon-applepodcasts:before {
    content: "\e93c";
    color: #93c;
  }
  .icon-blogger1:before {
    content: "\e969";
    color: #ff5722;
  }
  .icon-canva:before {
    content: "\e97e";
    color: #00c4cc;
  }
  .icon-cpanel:before {
    content: "\e9b0";
    color: #ff6c2c;
  }
  .icon-directus:before {
    content: "\e9d1";
  }
  .icon-discord:before {
    content: "\e9d2";
    color: #7289da;
  }
  .icon-envato:before {
    content: "\e9ee";
    color: #81b441;
  }
  .icon-evernote:before {
    content: "\e9f8";
    color: #00a82d;
  }
  .icon-facebook1:before {
    content: "\ea01";
    color: #1877f2;
  }
  .icon-github1:before {
    content: "\ea2b";
  }
  .icon-gmail:before {
    content: "\ea31";
    color: #d14836;
  }
  .icon-googlechrome:before {
    content: "\ea3f";
    color: #4285f4;
  }
  .icon-googlecloud:before {
    content: "\ea40";
    color: #4285f4;
  }
  .icon-googledrive:before {
    content: "\ea41";
    color: #4285f4;
  }
  .icon-hp:before {
    content: "\ea71";
    color: #0096d6;
  }
  .icon-html5:before {
    content: "\ea72";
    color: #e34f26;
  }
  .icon-hubspot:before {
    content: "\ea75";
    color: #ff7a59;
  }
  .icon-internetexplorer:before {
    content: "\ea8f";
    color: #0076d6;
  }
  .icon-linkedin1:before {
    content: "\eace";
    color: #0077b5;
  }
  .icon-messenger:before {
    content: "\eaf7";
    color: #00b2ff;
  }
  .icon-microsoftedge:before {
    content: "\eafe";
    color: #0078d7;
  }
  .icon-microsoftexcel:before {
    content: "\eaff";
    color: #217346;
  }
  .icon-microsoftonenote:before {
    content: "\eb02";
    color: #80397b;
  }
  .icon-microsoftoutlook:before {
    content: "\eb03";
    color: #0072c6;
  }
  .icon-microsoftpowerpoint:before {
    content: "\eb04";
    color: #d24726;
  }
  .icon-microsoftteams:before {
    content: "\eb05";
    color: #6264a7;
  }
  .icon-microsoftword:before {
    content: "\eb06";
    color: #2b579a;
  }
  .icon-paypal1:before {
    content: "\eb56";
    color: #00457c;
  }
  .icon-rss1:before {
    content: "\eba9";
    color: #ffa500;
  }
  .icon-teamviewer:before {
    content: "\ec21";
    color: #0e8ee9;
  }
  .icon-tiktok:before {
    content: "\ec2e";
  }
  .icon-toggl:before {
    content: "\ec32";
    color: #e01b22;
  }
  .icon-trello1:before {
    content: "\ec3b";
    color: #0079bf;
  }
  .icon-twitter11:before {
    content: "\ec44";
    color: #1da1f2;
  }
  .icon-visa:before {
    content: "\ec63";
    color: #142787;
  }
  .icon-visualstudiocode:before {
    content: "\ec65";
    color: #007acc;
  }
  .icon-vlcmediaplayer:before {
    content: "\ec67";
    color: #f80;
  }
  .icon-w3c:before {
    content: "\ec6c";
    color: #005a9c;
  }
  .icon-whatsapp1:before {
    content: "\ec76";
    color: #25d366;
  }
  .icon-windows1:before {
    content: "\ec7c";
    color: #0078d6;
  }
  .icon-youtube1:before {
    content: "\ec9d";
    color: #f00;
  }
  .icon-zoom:before {
    content: "\eca9";
    color: #2d8cff;
  }
  .icon-mobile1:before {
    content: "\e000";
  }
  .icon-laptop1:before {
    content: "\e001";
  }
  .icon-desktop:before {
    content: "\e002";
  }
  .icon-tablet1:before {
    content: "\e003";
  }
  .icon-phone1:before {
    content: "\e004";
  }
  .icon-document:before {
    content: "\e005";
  }
  .icon-documents:before {
    content: "\e006";
  }
  .icon-search1:before {
    content: "\e007";
  }
  .icon-clipboard1:before {
    content: "\e008";
  }
  .icon-newspaper1:before {
    content: "\e009";
  }
  .icon-notebook:before {
    content: "\e00a";
  }
  .icon-book-open:before {
    content: "\e00b";
  }
  .icon-browser:before {
    content: "\e00c";
  }
  .icon-calendar2:before {
    content: "\e00d";
  }
  .icon-presentation:before {
    content: "\e00e";
  }
  .icon-picture:before {
    content: "\e00f";
  }
  .icon-pictures:before {
    content: "\e010";
  }
  .icon-video:before {
    content: "\e011";
  }
  .icon-camera2:before {
    content: "\e012";
  }
  .icon-printer1:before {
    content: "\e013";
  }
  .icon-toolbox:before {
    content: "\e014";
  }
  .icon-briefcase1:before {
    content: "\e015";
  }
  .icon-wallet:before {
    content: "\e016";
  }
  .icon-gift1:before {
    content: "\e017";
  }
  .icon-bargraph:before {
    content: "\e018";
  }
  .icon-grid:before {
    content: "\e019";
  }
  .icon-expand:before {
    content: "\e01a";
  }
  .icon-focus:before {
    content: "\e01b";
  }
  .icon-edit:before {
    content: "\e01c";
  }
  .icon-adjustments:before {
    content: "\e01d";
  }
  .icon-ribbon:before {
    content: "\e01e";
  }
  .icon-hourglass:before {
    content: "\e01f";
  }
  .icon-lock1:before {
    content: "\e020";
  }
  .icon-megaphone:before {
    content: "\e021";
  }
  .icon-shield1:before {
    content: "\e022";
  }
  .icon-trophy1:before {
    content: "\e023";
  }
  .icon-flag1:before {
    content: "\e024";
  }
  .icon-map1:before {
    content: "\e025";
  }
  .icon-puzzle:before {
    content: "\e026";
  }
  .icon-basket:before {
    content: "\e027";
  }
  .icon-envelope:before {
    content: "\e028";
  }
  .icon-streetsign:before {
    content: "\e029";
  }
  .icon-telescope:before {
    content: "\e02a";
  }
  .icon-gears:before {
    content: "\e02b";
  }
  .icon-key1:before {
    content: "\e02c";
  }
  .icon-paperclip1:before {
    content: "\e02d";
  }
  .icon-attachment1:before {
    content: "\e02e";
  }
  .icon-pricetags:before {
    content: "\e02f";
  }
  .icon-lightbulb1:before {
    content: "\e030";
  }
  .icon-layers1:before {
    content: "\e031";
  }
  .icon-pencil1:before {
    content: "\e032";
  }
  .icon-tools:before {
    content: "\e033";
  }
  .icon-tools-2:before {
    content: "\e034";
  }
  .icon-scissors1:before {
    content: "\e035";
  }
  .icon-paintbrush:before {
    content: "\e036";
  }
  .icon-magnifying-glass1:before {
    content: "\e037";
  }
  .icon-mic1:before {
    content: "\e03a";
  }
  .icon-beaker1:before {
    content: "\e03c";
  }
  .icon-caution:before {
    content: "\e03d";
  }
  .icon-recycle:before {
    content: "\e03e";
  }
  .icon-anchor:before {
    content: "\e03f";
  }
  .icon-profile-male:before {
    content: "\e040";
  }
  .icon-profile-female:before {
    content: "\e041";
  }
  .icon-bike:before {
    content: "\e042";
  }
  .icon-wine:before {
    content: "\e043";
  }
  .icon-hotairballoon:before {
    content: "\e044";
  }
  .icon-globe:before {
    content: "\e045";
  }
  .icon-genius:before {
    content: "\e046";
  }
  .icon-map-pin:before {
    content: "\e047";
  }
  .icon-chat1:before {
    content: "\e049";
  }
  .icon-heart1:before {
    content: "\e04a";
  }
  .icon-cloud2:before {
    content: "\e04b";
  }
  .icon-upload4:before {
    content: "\e04c";
  }
  .icon-download4:before {
    content: "\e04d";
  }
  .icon-target2:before {
    content: "\e04e";
  }
  .icon-piechart:before {
    content: "\e050";
  }
  .icon-speedometer:before {
    content: "\e051";
  }
  .icon-global:before {
    content: "\e052";
  }
  .icon-compass3:before {
    content: "\e053";
  }
  .icon-clock3:before {
    content: "\e055";
  }
  .icon-aperture1:before {
    content: "\e056";
  }
  .icon-quote:before {
    content: "\e057";
  }
  .icon-scope:before {
    content: "\e058";
  }
  .icon-alarmclock:before {
    content: "\e059";
  }
  .icon-refresh:before {
    content: "\e05a";
  }
  .icon-happy1:before {
    content: "\e05b";
  }
  .icon-sad1:before {
    content: "\e05c";
  }
  .icon-facebook3:before {
    content: "\e05d";
  }
  .icon-twitter1:before {
    content: "\e05e";
  }
  .icon-googleplus:before {
    content: "\e05f";
  }
  .icon-rss4:before {
    content: "\e060";
  }
  .icon-tumblr1:before {
    content: "\e061";
  }
  .icon-linkedin3:before {
    content: "\e062";
  }
  .icon-dribbble1:before {
    content: "\e063";
  }
  .icon-home:before {
    content: "\ecac";
  }
  .icon-home2:before {
    content: "\ecad";
  }
  .icon-home3:before {
    content: "\ecae";
  }
  .icon-office:before {
    content: "\ecaf";
  }
  .icon-newspaper:before {
    content: "\ecb0";
  }
  .icon-pencil:before {
    content: "\ecb1";
  }
  .icon-pencil2:before {
    content: "\ecb2";
  }
  .icon-quill:before {
    content: "\ecb3";
  }
  .icon-pen:before {
    content: "\ecb4";
  }
  .icon-blog:before {
    content: "\ecb5";
  }
  .icon-eyedropper:before {
    content: "\ecb6";
  }
  .icon-droplet:before {
    content: "\ecb7";
  }
  .icon-paint-format:before {
    content: "\ecb8";
  }
  .icon-image:before {
    content: "\ecb9";
  }
  .icon-images:before {
    content: "\ecba";
  }
  .icon-camera:before {
    content: "\ecbb";
  }
  .icon-headphones:before {
    content: "\ecbc";
  }
  .icon-music:before {
    content: "\ecbd";
  }
  .icon-play:before {
    content: "\ecbe";
  }
  .icon-film:before {
    content: "\ecbf";
  }
  .icon-video-camera:before {
    content: "\ecc0";
  }
  .icon-dice:before {
    content: "\ecc1";
  }
  .icon-bullhorn:before {
    content: "\ecc6";
  }
  .icon-connection:before {
    content: "\ecc7";
  }
  .icon-podcast:before {
    content: "\ecc8";
  }
  .icon-feed:before {
    content: "\ecc9";
  }
  .icon-mic:before {
    content: "\ecca";
  }
  .icon-book:before {
    content: "\eccb";
  }
  .icon-books:before {
    content: "\eccc";
  }
  .icon-library:before {
    content: "\eccd";
  }
  .icon-file-text:before {
    content: "\ecce";
  }
  .icon-profile:before {
    content: "\eccf";
  }
  .icon-file-empty:before {
    content: "\ecd0";
  }
  .icon-files-empty:before {
    content: "\ecd1";
  }
  .icon-file-text2:before {
    content: "\ecd2";
  }
  .icon-file-picture:before {
    content: "\ecd3";
  }
  .icon-file-music:before {
    content: "\ecd4";
  }
  .icon-file-play:before {
    content: "\ecd5";
  }
  .icon-file-video:before {
    content: "\ecd6";
  }
  .icon-file-zip:before {
    content: "\ecd7";
  }
  .icon-copy:before {
    content: "\ecd8";
  }
  .icon-paste:before {
    content: "\ecd9";
  }
  .icon-stack:before {
    content: "\ecda";
  }
  .icon-folder:before {
    content: "\ecdb";
  }
  .icon-folder-open:before {
    content: "\ecdc";
  }
  .icon-folder-plus:before {
    content: "\ecdd";
  }
  .icon-folder-minus:before {
    content: "\ecde";
  }
  .icon-folder-download:before {
    content: "\ecdf";
  }
  .icon-folder-upload:before {
    content: "\ece0";
  }
  .icon-price-tag:before {
    content: "\ece1";
  }
  .icon-price-tags:before {
    content: "\ece2";
  }
  .icon-barcode:before {
    content: "\ece3";
  }
  .icon-qrcode:before {
    content: "\ece4";
  }
  .icon-cart:before {
    content: "\ece6";
  }
  .icon-coin-dollar:before {
    content: "\ece7";
  }
  .icon-coin-euro:before {
    content: "\ece8";
  }
  .icon-credit-card:before {
    content: "\eceb";
  }
  .icon-calculator:before {
    content: "\ecec";
  }
  .icon-phone:before {
    content: "\ecee";
  }
  .icon-phone-hang-up:before {
    content: "\ecef";
  }
  .icon-address-book:before {
    content: "\ecf0";
  }
  .icon-envelop:before {
    content: "\ecf1";
  }
  .icon-pushpin:before {
    content: "\ecf2";
  }
  .icon-location:before {
    content: "\ecf3";
  }
  .icon-location2:before {
    content: "\ecf4";
  }
  .icon-compass:before {
    content: "\ecf5";
  }
  .icon-compass2:before {
    content: "\ecf6";
  }
  .icon-map:before {
    content: "\ecf7";
  }
  .icon-map2:before {
    content: "\ecf8";
  }
  .icon-history:before {
    content: "\ecf9";
  }
  .icon-clock:before {
    content: "\ecfa";
  }
  .icon-clock2:before {
    content: "\ecfb";
  }
  .icon-alarm:before {
    content: "\ecfc";
  }
  .icon-bell:before {
    content: "\ecfd";
  }
  .icon-stopwatch:before {
    content: "\ecfe";
  }
  .icon-calendar:before {
    content: "\ecff";
  }
  .icon-printer:before {
    content: "\ed00";
  }
  .icon-keyboard:before {
    content: "\ed01";
  }
  .icon-display:before {
    content: "\ed02";
  }
  .icon-laptop:before {
    content: "\ed03";
  }
  .icon-mobile:before {
    content: "\ed04";
  }
  .icon-mobile2:before {
    content: "\ed05";
  }
  .icon-tablet:before {
    content: "\ed06";
  }
  .icon-tv:before {
    content: "\ed07";
  }
  .icon-drawer:before {
    content: "\ed08";
  }
  .icon-drawer2:before {
    content: "\ed09";
  }
  .icon-box-add:before {
    content: "\ed0a";
  }
  .icon-box-remove:before {
    content: "\ed0b";
  }
  .icon-download:before {
    content: "\ed0c";
  }
  .icon-upload:before {
    content: "\ed0d";
  }
  .icon-floppy-disk:before {
    content: "\ed0e";
  }
  .icon-drive:before {
    content: "\ed0f";
  }
  .icon-database:before {
    content: "\ed10";
  }
  .icon-undo:before {
    content: "\ed11";
  }
  .icon-redo:before {
    content: "\ed12";
  }
  .icon-undo2:before {
    content: "\ed13";
  }
  .icon-redo2:before {
    content: "\ed14";
  }
  .icon-forward:before {
    content: "\ed15";
  }
  .icon-reply:before {
    content: "\ed16";
  }
  .icon-bubble:before {
    content: "\ed17";
  }
  .icon-bubbles:before {
    content: "\ed18";
  }
  .icon-bubbles2:before {
    content: "\ed19";
  }
  .icon-bubble2:before {
    content: "\ed1a";
  }
  .icon-bubbles3:before {
    content: "\ed1b";
  }
  .icon-bubbles4:before {
    content: "\ed1c";
  }
  .icon-user:before {
    content: "\ed1d";
  }
  .icon-users:before {
    content: "\ed1e";
  }
  .icon-user-plus:before {
    content: "\ed1f";
  }
  .icon-user-minus:before {
    content: "\ed20";
  }
  .icon-user-check:before {
    content: "\ed21";
  }
  .icon-user-tie:before {
    content: "\ed22";
  }
  .icon-quotes-left:before {
    content: "\ed23";
  }
  .icon-quotes-right:before {
    content: "\ed24";
  }
  .icon-hour-glass:before {
    content: "\ed25";
  }
  .icon-spinner:before {
    content: "\ed26";
  }
  .icon-spinner2:before {
    content: "\ed27";
  }
  .icon-spinner3:before {
    content: "\ed28";
  }
  .icon-spinner4:before {
    content: "\ed29";
  }
  .icon-spinner5:before {
    content: "\ed2a";
  }
  .icon-spinner6:before {
    content: "\ed2b";
  }
  .icon-spinner7:before {
    content: "\ed2c";
  }
  .icon-spinner8:before {
    content: "\ed2d";
  }
  .icon-spinner9:before {
    content: "\ed2e";
  }
  .icon-spinner10:before {
    content: "\ed2f";
  }
  .icon-spinner11:before {
    content: "\ed30";
  }
  .icon-binoculars:before {
    content: "\ed31";
  }
  .icon-search:before {
    content: "\ed32";
  }
  .icon-zoom-in:before {
    content: "\ed33";
  }
  .icon-zoom-out:before {
    content: "\ed34";
  }
  .icon-enlarge:before {
    content: "\ed35";
  }
  .icon-shrink:before {
    content: "\ed36";
  }
  .icon-enlarge2:before {
    content: "\ed37";
  }
  .icon-shrink2:before {
    content: "\ed38";
  }
  .icon-key:before {
    content: "\ed39";
  }
  .icon-key2:before {
    content: "\ed3a";
  }
  .icon-lock:before {
    content: "\ed3b";
  }
  .icon-unlocked:before {
    content: "\ed3c";
  }
  .icon-wrench:before {
    content: "\ed3d";
  }
  .icon-equalizer:before {
    content: "\ed3e";
  }
  .icon-equalizer2:before {
    content: "\ed3f";
  }
  .icon-cog:before {
    content: "\ed40";
  }
  .icon-cogs:before {
    content: "\ed41";
  }
  .icon-hammer:before {
    content: "\ed42";
  }
  .icon-magic-wand:before {
    content: "\ed43";
  }
  .icon-aid-kit:before {
    content: "\ed44";
  }
  .icon-pie-chart:before {
    content: "\ed46";
  }
  .icon-stats-dots:before {
    content: "\ed47";
  }
  .icon-stats-bars:before {
    content: "\ed48";
  }
  .icon-stats-bars2:before {
    content: "\ed49";
  }
  .icon-trophy:before {
    content: "\ed4a";
  }
  .icon-gift:before {
    content: "\ed4b";
  }
  .icon-glass:before {
    content: "\ed4c";
  }
  .icon-glass2:before {
    content: "\ed4d";
  }
  .icon-mug:before {
    content: "\ed4e";
  }
  .icon-spoon-knife:before {
    content: "\ed4f";
  }
  .icon-leaf:before {
    content: "\ed50";
  }
  .icon-rocket:before {
    content: "\ed51";
  }
  .icon-meter:before {
    content: "\ed52";
  }
  .icon-meter2:before {
    content: "\ed53";
  }
  .icon-hammer2:before {
    content: "\ed54";
  }
  .icon-fire:before {
    content: "\ed55";
  }
  .icon-lab:before {
    content: "\ed56";
  }
  .icon-magnet:before {
    content: "\ed57";
  }
  .icon-bin:before {
    content: "\ed58";
  }
  .icon-bin2:before {
    content: "\ed59";
  }
  .icon-briefcase:before {
    content: "\ed5a";
  }
  .icon-airplane:before {
    content: "\ed5b";
  }
  .icon-truck:before {
    content: "\ed5c";
  }
  .icon-road:before {
    content: "\ed5d";
  }
  .icon-accessibility:before {
    content: "\ed5e";
  }
  .icon-target:before {
    content: "\ed5f";
  }
  .icon-shield:before {
    content: "\ed60";
  }
  .icon-power:before {
    content: "\ed61";
  }
  .icon-switch:before {
    content: "\ed62";
  }
  .icon-power-cord:before {
    content: "\ed63";
  }
  .icon-clipboard:before {
    content: "\ed64";
  }
  .icon-list-numbered:before {
    content: "\ed65";
  }
  .icon-list:before {
    content: "\ed66";
  }
  .icon-list2:before {
    content: "\ed67";
  }
  .icon-tree:before {
    content: "\ed68";
  }
  .icon-menu:before {
    content: "\ed69";
  }
  .icon-menu2:before {
    content: "\ed6a";
  }
  .icon-menu3:before {
    content: "\ed6b";
  }
  .icon-menu4:before {
    content: "\ed6c";
  }
  .icon-cloud:before {
    content: "\ed6d";
  }
  .icon-cloud-download:before {
    content: "\ed6e";
  }
  .icon-cloud-upload:before {
    content: "\ed6f";
  }
  .icon-cloud-check:before {
    content: "\ed70";
  }
  .icon-download2:before {
    content: "\ed71";
  }
  .icon-upload2:before {
    content: "\ed72";
  }
  .icon-download3:before {
    content: "\ed73";
  }
  .icon-upload3:before {
    content: "\ed74";
  }
  .icon-sphere:before {
    content: "\ed75";
  }
  .icon-earth:before {
    content: "\ed76";
  }
  .icon-link:before {
    content: "\ed77";
  }
  .icon-flag:before {
    content: "\ed78";
  }
  .icon-attachment:before {
    content: "\ed79";
  }
  .icon-eye:before {
    content: "\ed7a";
  }
  .icon-eye-plus:before {
    content: "\ed7b";
  }
  .icon-eye-minus:before {
    content: "\ed7c";
  }
  .icon-eye-blocked:before {
    content: "\ed7d";
  }
  .icon-bookmark:before {
    content: "\ed7e";
  }
  .icon-bookmarks:before {
    content: "\ed7f";
  }
  .icon-sun:before {
    content: "\ed80";
  }
  .icon-contrast:before {
    content: "\ed81";
  }
  .icon-brightness-contrast:before {
    content: "\ed82";
  }
  .icon-star-empty:before {
    content: "\ed83";
  }
  .icon-star-full:before {
    content: "\ed85";
  }
  .icon-heart:before {
    content: "\ed86";
  }
  .icon-heart-broken:before {
    content: "\ed87";
  }
  .icon-man:before {
    content: "\ed88";
  }
  .icon-woman:before {
    content: "\ed89";
  }
  .icon-man-woman:before {
    content: "\ed8a";
  }
  .icon-point-up:before {
    content: "\edaf";
  }
  .icon-point-right:before {
    content: "\edb0";
  }
  .icon-point-down:before {
    content: "\edb1";
  }
  .icon-point-left:before {
    content: "\edb2";
  }
  .icon-warning:before {
    content: "\edb3";
  }
  .icon-notification:before {
    content: "\edb4";
  }
  .icon-question:before {
    content: "\edb5";
  }
  .icon-plus:before {
    content: "\edb6";
  }
  .icon-minus:before {
    content: "\edb7";
  }
  .icon-info:before {
    content: "\edb8";
  }
  .icon-cancel-circle:before {
    content: "\edb9";
  }
  .icon-blocked:before {
    content: "\edba";
  }
  .icon-cross:before {
    content: "\edbb";
  }
  .icon-checkmark:before {
    content: "\edbc";
  }
  .icon-checkmark2:before {
    content: "\edbd";
  }
  .icon-spell-check:before {
    content: "\edbe";
  }
  .icon-enter:before {
    content: "\edbf";
  }
  .icon-exit:before {
    content: "\edc0";
  }
  .icon-play2:before {
    content: "\edc1";
  }
  .icon-pause:before {
    content: "\edc2";
  }
  .icon-stop:before {
    content: "\edc3";
  }
  .icon-previous:before {
    content: "\edc4";
  }
  .icon-next:before {
    content: "\edc5";
  }
  .icon-backward:before {
    content: "\edc6";
  }
  .icon-forward2:before {
    content: "\edc7";
  }
  .icon-play3:before {
    content: "\edc8";
  }
  .icon-pause2:before {
    content: "\edc9";
  }
  .icon-stop2:before {
    content: "\edca";
  }
  .icon-backward2:before {
    content: "\edcb";
  }
  .icon-forward3:before {
    content: "\edcc";
  }
  .icon-first:before {
    content: "\edcd";
  }
  .icon-last:before {
    content: "\edce";
  }
  .icon-previous2:before {
    content: "\edcf";
  }
  .icon-next2:before {
    content: "\edd0";
  }
  .icon-eject:before {
    content: "\edd1";
  }
  .icon-volume-high:before {
    content: "\edd2";
  }
  .icon-volume-medium:before {
    content: "\edd3";
  }
  .icon-volume-low:before {
    content: "\edd4";
  }
  .icon-volume-mute:before {
    content: "\edd5";
  }
  .icon-volume-mute2:before {
    content: "\edd6";
  }
  .icon-volume-increase:before {
    content: "\edd7";
  }
  .icon-volume-decrease:before {
    content: "\edd8";
  }
  .icon-loop:before {
    content: "\edd9";
  }
  .icon-loop2:before {
    content: "\edda";
  }
  .icon-infinite:before {
    content: "\eddb";
  }
  .icon-shuffle:before {
    content: "\eddc";
  }
  .icon-arrow-up-left:before {
    content: "\eddd";
  }
  .icon-arrow-up:before {
    content: "\edde";
  }
  .icon-arrow-up-right:before {
    content: "\eddf";
  }
  .icon-arrow-right:before {
    content: "\ede0";
  }
  .icon-arrow-down-right:before {
    content: "\ede1";
  }
  .icon-arrow-down:before {
    content: "\ede2";
  }
  .icon-arrow-down-left:before {
    content: "\ede3";
  }
  .icon-arrow-left:before {
    content: "\ede4";
  }
  .icon-arrow-up-left2:before {
    content: "\ede5";
  }
  .icon-arrow-up2:before {
    content: "\ede6";
  }
  .icon-arrow-up-right2:before {
    content: "\ede7";
  }
  .icon-arrow-right2:before {
    content: "\ede8";
  }
  .icon-arrow-down-right2:before {
    content: "\ede9";
  }
  .icon-arrow-down2:before {
    content: "\edea";
  }
  .icon-arrow-down-left2:before {
    content: "\edeb";
  }
  .icon-arrow-left2:before {
    content: "\edec";
  }
  .icon-circle-up:before {
    content: "\eded";
  }
  .icon-circle-right:before {
    content: "\edee";
  }
  .icon-circle-down:before {
    content: "\edef";
  }
  .icon-circle-left:before {
    content: "\edf0";
  }
  .icon-tab:before {
    content: "\edf1";
  }
  .icon-sort-alpha-asc:before {
    content: "\edf4";
  }
  .icon-sort-alpha-desc:before {
    content: "\edf5";
  }
  .icon-sort-numeric-asc:before {
    content: "\edf6";
  }
  .icon-sort-numberic-desc:before {
    content: "\edf7";
  }
  .icon-sort-amount-asc:before {
    content: "\edf8";
  }
  .icon-sort-amount-desc:before {
    content: "\edf9";
  }
  .icon-command:before {
    content: "\edfa";
  }
  .icon-shift:before {
    content: "\edfb";
  }
  .icon-checkbox-checked:before {
    content: "\edfe";
  }
  .icon-checkbox-unchecked:before {
    content: "\edff";
  }
  .icon-radio-checked:before {
    content: "\ee00";
  }
  .icon-radio-checked2:before {
    content: "\ee01";
  }
  .icon-radio-unchecked:before {
    content: "\ee02";
  }
  .icon-crop:before {
    content: "\ee03";
  }
  .icon-make-group:before {
    content: "\ee04";
  }
  .icon-ungroup:before {
    content: "\ee05";
  }
  .icon-scissors:before {
    content: "\ee06";
  }
  .icon-filter:before {
    content: "\ee07";
  }
  .icon-text-height:before {
    content: "\ee0b";
  }
  .icon-text-width:before {
    content: "\ee0c";
  }
  .icon-font-size:before {
    content: "\ee0d";
  }
  .icon-bold:before {
    content: "\ee0e";
  }
  .icon-underline:before {
    content: "\ee0f";
  }
  .icon-italic:before {
    content: "\ee10";
  }
  .icon-strikethrough:before {
    content: "\ee11";
  }
  .icon-omega:before {
    content: "\ee12";
  }
  .icon-sigma:before {
    content: "\ee13";
  }
  .icon-page-break:before {
    content: "\ee14";
  }
  .icon-pagebreak:before {
    content: "\ee1a";
  }
  .icon-table:before {
    content: "\ee1c";
  }
  .icon-table2:before {
    content: "\ee1d";
  }
  .icon-insert-template:before {
    content: "\ee1e";
  }
  .icon-pilcrow:before {
    content: "\ee1f";
  }
  .icon-ltr:before {
    content: "\ee20";
  }
  .icon-rtl:before {
    content: "\ee21";
  }
  .icon-section:before {
    content: "\ee22";
  }
  .icon-paragraph-left:before {
    content: "\ee23";
  }
  .icon-paragraph-center:before {
    content: "\ee24";
  }
  .icon-paragraph-right:before {
    content: "\ee25";
  }
  .icon-paragraph-justify:before {
    content: "\ee26";
  }
  .icon-indent-increase:before {
    content: "\ee27";
  }
  .icon-indent-decrease:before {
    content: "\ee28";
  }
  .icon-share:before {
    content: "\ee29";
  }
  .icon-new-tab:before {
    content: "\ee2a";
  }
  .icon-embed:before {
    content: "\ee2b";
  }
  .icon-embed2:before {
    content: "\ee2c";
  }
  .icon-terminal:before {
    content: "\ee2d";
  }
  .icon-share2:before {
    content: "\ee2e";
  }
  .icon-mail:before {
    content: "\ee2f";
  }
  .icon-mail2:before {
    content: "\ee30";
  }
  .icon-mail3:before {
    content: "\ee31";
  }
  .icon-mail4:before {
    content: "\ee32";
  }
  .icon-google:before {
    content: "\ee34";
  }
  .icon-google2:before {
    content: "\ee35";
  }
  .icon-google3:before {
    content: "\ee36";
  }
  .icon-google-plus:before {
    content: "\ee37";
  }
  .icon-google-plus2:before {
    content: "\ee38";
  }
  .icon-google-plus3:before {
    content: "\ee39";
  }
  .icon-hangouts:before {
    content: "\ee3a";
  }
  .icon-google-drive:before {
    content: "\ee3b";
  }
  .icon-facebook:before {
    content: "\ee3c";
  }
  .icon-facebook2:before {
    content: "\ee3d";
  }
  .icon-instagram:before {
    content: "\ee3e";
  }
  .icon-whatsapp:before {
    content: "\ee3f";
  }
  .icon-spotify:before {
    content: "\ee40";
  }
  .icon-telegram:before {
    content: "\ee41";
  }
  .icon-twitter:before {
    content: "\ee42";
  }
  .icon-rss:before {
    content: "\ee47";
  }
  .icon-rss2:before {
    content: "\ee48";
  }
  .icon-youtube:before {
    content: "\ee49";
  }
  .icon-youtube2:before {
    content: "\ee4a";
  }
  .icon-twitch:before {
    content: "\ee4b";
  }
  .icon-dribbble:before {
    content: "\ee53";
  }
  .icon-steam:before {
    content: "\ee58";
  }
  .icon-dropbox:before {
    content: "\ee5a";
  }
  .icon-onedrive:before {
    content: "\ee5b";
  }
  .icon-github:before {
    content: "\ee5c";
  }
  .icon-trello:before {
    content: "\ee5f";
  }
  .icon-wordpress:before {
    content: "\ee60";
  }
  .icon-joomla:before {
    content: "\ee61";
  }
  .icon-ello:before {
    content: "\ee62";
  }
  .icon-blogger:before {
    content: "\ee63";
  }
  .icon-blogger2:before {
    content: "\ee64";
  }
  .icon-tumblr:before {
    content: "\ee65";
  }
  .icon-tumblr2:before {
    content: "\ee66";
  }
  .icon-yahoo2:before {
    content: "\ee68";
  }
  .icon-appleinc:before {
    content: "\ee6a";
  }
  .icon-finder:before {
    content: "\ee6b";
  }
  .icon-android:before {
    content: "\ee6c";
  }
  .icon-windows:before {
    content: "\ee6d";
  }
  .icon-windows8:before {
    content: "\ee6e";
  }
  .icon-soundcloud:before {
    content: "\ee6f";
  }
  .icon-soundcloud2:before {
    content: "\ee70";
  }
  .icon-skype:before {
    content: "\ee71";
  }
  .icon-hackernews:before {
    content: "\ee73";
  }
  .icon-wikipedia:before {
    content: "\ee74";
  }
  .icon-linkedin:before {
    content: "\ee75";
  }
  .icon-linkedin2:before {
    content: "\ee76";
  }
  .icon-stackoverflow:before {
    content: "\ee7c";
  }
  .icon-pinterest:before {
    content: "\ee7d";
  }
  .icon-pinterest2:before {
    content: "\ee7e";
  }
  .icon-paypal:before {
    content: "\ee84";
  }
  .icon-chrome:before {
    content: "\ee85";
  }
  .icon-firefox:before {
    content: "\ee86";
  }
  .icon-IE:before {
    content: "\ee87";
  }
  .icon-safari:before {
    content: "\ee89";
  }
  .icon-opera:before {
    content: "\ee8a";
  }
  .icon-file-pdf:before {
    content: "\ee8b";
  }
  .icon-file-openoffice:before {
    content: "\ee8c";
  }
  .icon-file-word:before {
    content: "\ee8d";
  }
  .icon-file-excel:before {
    content: "\ee8e";
  }
  .icon-libreoffice:before {
    content: "\ee8f";
  }
  .icon-html-five:before {
    content: "\ee90";
  }
  .icon-html-five2:before {
    content: "\ee91";
  }
  .icon-git:before {
    content: "\ee93";
  }
  